<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GrapeCity.DioDocs.Common.ja" version="2.1.0.265" targetFramework="net48" />
  <package id="GrapeCity.DioDocs.Excel.ja" version="2.1.4" targetFramework="net48" />
  <package id="GrapeCity.DioDocs.Imaging.ja" version="2.1.0.265" targetFramework="net48" />
  <package id="GrapeCity.DioDocs.Pdf.ja" version="2.1.0.265" targetFramework="net48" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net48" />
  <package id="Microsoft.Azure.Storage.Blob" version="10.0.3" targetFramework="net48" />
  <package id="Microsoft.Azure.Storage.Common" version="10.0.3" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net48" />
  <package id="Portable.BouncyCastle" version="1.8.2" targetFramework="net48" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.0" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>